[submodule "llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "vscode-autocheck"]
	path = src/tools/vscode-autocheck
	url = https://github.com/syrmia/vscode-autocheck-plugins.git
