[submodule "llvm-project"]
	path = src/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "autocheck-plugins"]
	path = src/tools/autocheck-plugins
	url = https://github.com/syrmia/autocheck-plugins.git
