                    <tr>
                        <td><span style="background-color: {color};" class="legend-color"></span></td>
                        <td title="{title}">{id}</td>
                        <td>({percentage}%)</td>
                    </tr>
